streamlit
joblib
pandas
scikit-learn
numpy
matplotlib
seaborn
scipy
xgboost
lightgbm
catboost
tqdm
pyarrow
pydantic
requests
plotly
streamlit-aggrid
streamlit-lottie
streamlit-extras
streamlit-ace
streamlit-option-menu
sklearn
streamlit-plotly-events
streamlit-logger
streamlit-autorefresh
os
